.div-size {
    max-width: 500px;
    padding-top: 10px;
    margin-top: 20px;
}

.input-padding-margin {
    padding-top: 5px;
    margin-top: 5px;
}

.form-div{
    padding-top: 150px;
}

.header-align{
    text-align:center;
}